@model MyShhop.Core.ViewModels.BasketSummaryViewModel

<ul class="nav navbar-nav navbar-right">
    <li><a href="@Url.Action("index","Basket")">@Model.BasketCount items</a></li>
    <li><a href="@Url.Action("index","Basket")">@string.Format("{0:c}",Model.BasketTotal)</a></li>

</ul>
